/* imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* Root */

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

:root {
   --blue: #2f7cc4;
}

body {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 1rem;
   background-color: rgb(238, 234, 234);
   /* overflow-x: hidden; */
}

a {
   color: black;
   cursor: pointer;
   text-decoration: none;
}

hr {
   width: 100%;
   margin: 20px 0;
}

.tag {
   color: rgba(133, 132, 132, 0.74);
}

h2 {
   margin-left: 50px;
}

p{
   line-height: 1.4;
}

.recommendation > h2,
.explore > h2,
.activity > h2 {
   padding-bottom: 30px;
}

/* Header */

/* Navigation Bar */

header {
   width: 100%;
}

header nav {
   overflow: hidden;
   display: flex;
   padding: 10px 20px;
   justify-content: space-between;
   background-color: var(--blue);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
}

nav h1 {
   font-size: 2rem;
   padding-left: 25px;
   cursor: pointer;
   color: white;
}

nav h1:hover {
   color: white;
}

nav ul {
   list-style: none;
   display: flex;
   flex-direction: row;
   align-items: center;
}

nav ul li a {
   padding: 19px;
   color: white;
   transition: all 0.3s ease-out;
   font-size: 16px;
   font-weight: 600;
}

nav ul li a:hover {
   padding-bottom: 25px;
   background-color: #26649e;
}

/* Header Slide show*/

.slideshow-container {
   /* max-width: 100vw;
   max-height: 600px; */
   margin-top: 55px;
   position: relative;
   /* overflow: hidden; */
   vertical-align: center;
}

.slideshow-container .shade-slides {
   background: black;
   bottom: 0;
   left: 0;
   opacity: 0.6;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1;
}

.slides {
   display: none;
}

.slides img {
   width: 100%;
   max-height: 92vh;
   object-fit: cover;
   vertical-align: middle;
}

.slides .img-info {
   bottom: 180px;
   color: #fff;
   max-height: 400px;
   left: 10%;
   position: absolute;
   width: 600px;
   z-index: 1;
}

.slides .img-info h3 {
   font-size: 2.5rem;
   font-weight: 800;
}

.slides .img-info p {
   font-size: 1.2rem;
   font-weight: 700;
   margin-left: 30px;
   text-align: justify;
   line-height: 1.5;
}

.fade img {
   -webkit-animation-name: fade;
   -webkit-animation-duration: .5s;
   animation-name: fade;
   animation-duration: .5s;
}

@-webkit-keyframes fade {
   from {
      opacity: .7;
      transform: scale(.90);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes fade {
   from {
      opacity: .7;
      transform: scale(.90);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}

/* .prev,
.next {
   border-radius: 0 3px 3px 0;
   color: white;
   cursor: pointer;
   font-weight: bold;
   font-size: 18px;
   margin-top: -22px;
   padding: 16px;
   position: absolute;
   top: 50%;
   transition: 0.6s ease;
   user-select: none;
   width: auto;
}

.next {
   border-radius: 3px 0 0 3px;
   right: 0;
}

.prev:hover,
.next:hover {
   background-color: rgba(0, 0, 0, 0.8);
} */

.numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.slides-navigator {
   position: absolute;
   bottom: 20px;
   left: 50%;
   /* background: #000; */
}

.slides-navigator .dot {
   background-color: #fff;
   cursor: pointer;
   position: relative;
   left: -50%;
   border-radius: 50%;
   height: 1rem;
   width: 1rem;
   display: inline-block;
   margin-left: 5px;
   z-index: 2;
}

.dot:hover {
   background-color: var(--blue);
}

.dot.active {
   background-color: var(--blue);
   opacity: 0.8;
   cursor: auto;
}

/*Body Recommendation*/

.recommendation__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 0 auto;
   width: 100%;
}

.recommendation__list__item {
   background: #fff;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   width: 250px;
}

.recommendation__list__item_images {
   display: block;
   height: 50%;
   max-width: 100%;
   position: relative;
}

.recommendation__list__item_images_previous,
.recommendation__list__item_images_next {
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   height: 2rem;
   font-size: 1.8rem;
   font-weight: 700;
   padding: 2px;
   position: absolute;
   top: 50%;
   text-align: center;
   transform: translateY(-50%);
   transition: all ease-in 0.2s;
   width: 2rem;
}

.recommendation__list__item_images_next {
   right: 0;
}

.recommendation__list__item_images_previous:hover,
.recommendation__list__item_images_next:hover {
   color: #000;
   font-weight: 900;
}

.recommendation__list__item_images img {
   display: block;
   height: 100%;
   width: 100%;
}

.recommendation__list__item_info {
   padding: 16px 20px 20px 16px;
}

.recommendation__list__item_info h4 {
   margin-top: 5px;
   font-size: 1.5rem;
}

.recommendation__list__item_info p {
   margin-top: 5px;
   font-size: 1rem;
   line-height: 1.4;
   text-align: left;
}

.explore_blog_more{
   color: var(--blue);
   text-decoration: underline;
}




/* explore */

.explore {
   width: 90vw;
   margin: 0 auto;
}

.explore h2 {
   margin: 0;
}

.explore_content_blogs {
   display: grid;
   gap: 5px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   width: inherit;
}

.explore_content_blog {
   background-color: #2f7cc4;
   position: relative;
   overflow: hidden;
}

.explore_content_blog_image{
   width: 100%;
   height: 100%;
}

.explore_content_blog_image img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

.explore_content_blog_info {
   color: #fff;
   transform: translateY(166px);
   background-color: rgba(0, 0, 0, .6);
   left: 0;
   padding: 5px 0 0 25px;
   transition: all ease-in 0.3s;
   top: 0;
   position: absolute;
   right: 0;
}

.explore_content_blog:hover .explore_content_blog_info {
   height: 100%;
   padding: 25px;
   transform: translateY(0);
   width: 100%;
}

.explore_content_blog_info p,
.explore_content_blog_info h2 {
   transition: all ease-in 0.2s;
}

.explore_content_blog--big .explore_content_blog_info {
   bottom: 0px;
   transform: translateY(366px);
}

.explore_content_blog:nth-child(1) {
   grid-area: 1 / 1 / 2 / 2;
}

.explore_content_blog:nth-child(2) {
   grid-area: 1 / 2 / 2 / 3;
}

.explore_content_blog:nth-child(3) {
   grid-area: 1 / 3 / 3 / 5;
}

.explore_content_blog:nth-child(4) {
   grid-area: 2 / 1 / 4 / 3;
}

.explore_content_blog:nth-child(5) {
   grid-area: 3 / 3 / 4 / 4;
}

.explore_content_blog:nth-child(6) {
   grid-area: 3 / 4 / 4 / 5;
}

.explore_content_blog:nth-child(7) {
   grid-area: 4 / 3 / 6 / 5;
}

.explore_content_blog:nth-child(8) {
   grid-area: 4 / 2 / 5 / 3;
}

.explore_content_blog:nth-child(9) {
   grid-area: 5 / 2 / 6 / 3;
}

.explore_content_blog:nth-child(10) {
   grid-area: 5 / 1 / 6 / 2;
}

.explore_content_blog:nth-child(11) {
   grid-area: 4 / 1 / 5 / 2;
}



/* Activity */

.activity {
   width: 90vw;
   margin: 0 auto;
}

.activity h2 {
   margin: 0;
}

.activity_content_blogs {
   display: grid;
   gap: 5px;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   width: inherit;
}

.activity_content_blog {
   background-color: #2f7cc4;
   position: relative;
   overflow: hidden;
}

.activity_content_blog_image {
   width: 100%;
   height: 100%;
}

.activity_content_blog_image img {
   width: 100%;
   height: 100%;
   display: block;
   object-fit: cover;
}

.activity_content_blog_info {
   color: #fff;
   transform: translateY(166px);
   background-color: rgba(0, 0, 0, .6);
   left: 0;
   padding: 5px 0 0 25px;
   transition: all ease-in 0.3s;
   top: 0;
   position: absolute;
   right: 0;
}

.activity_content_blog:hover .activity_content_blog_info {
   height: 100%;
   padding: 25px;
   transform: translateY(0);
   width: 100%;
}

.activity_content_blog_info p,
.activity_content_blog_info h2 {
   transition: all ease-in 0.2s;
}

.activity_content_blog--big .activity_content_blog_info {
   bottom: 0px;
   transform: translateY(366px);
}

.activity_blog_more{
   color: var(--blue);
   text-decoration: underline;
}

.activity_content_blog:nth-child(1) {
   grid-area: 1 / 1 / 2 / 2;
}

.activity_content_blog:nth-child(2) {
   grid-area: 1 / 2 / 2 / 3;
}

.activity_content_blog:nth-child(3) {
   grid-area: 1 / 3 / 3 / 5;
}

.activity_content_blog:nth-child(4) {
   grid-area: 2 / 1 / 4 / 3;
}

.activity_content_blog:nth-child(5) {
   grid-area: 3 / 3 / 4 / 4;
}

.activity_content_blog:nth-child(6) {
   grid-area: 3 / 4 / 4 / 5;
}

.activity_content_blog:nth-child(7) {
   grid-area: 4 / 3 / 6 / 5;
}

.activity_content_blog:nth-child(8) {
   grid-area: 4 / 2 / 5 / 3;
}

.activity_content_blog:nth-child(9) {
   grid-area: 5 / 2 / 6 / 3;
}

.activity_content_blog:nth-child(10) {
   grid-area: 5 / 1 / 6 / 2;
}

.activity_content_blog:nth-child(11) {
   grid-area: 4 / 1 / 5 / 2;
}